$white: #E5E5E5;
$black: rgb(26, 26, 26);
$gray: #262a2f;
$gray_light: #686868;
$orange: #ff5533;
$font-family: "Roboto Mono", monospace;

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: raw;  
  align-items: center;
}

.messages {
  width: 30%;
  margin: 16px;
  margin-top: 8%;
  background: $black;
  border-radius: 16px;
  padding: 24px;
}

.status-indicator {
  display: flex;
  align-items: center;
}

.circle {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  margin-right: 8px;
  transition: background-color 0.3s;
}
.messages-header {
  flex-direction: row;
  justify-content: space-between;
}

.messages-header h2 {font-size: 1.5em;}


.card {
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}





.details h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.details p {
  color: #666;
  font-size: 0.9em;
}

.check-network {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.check-network:hover {
  background-color: #45a049; /* Darker green on hover */
}


.info_board {
    background: $black;
    padding: 8px;
    margin: 16px;
    margin-top: 8%;
    width: calc(100% - 20px);
    border-radius: 16px;
}

.info_area {
    overflow-y: auto;
    height: 32rem; 
}

.flashing {
    animation: flash 0.5s infinite alternate; // Flashing animation
}

@keyframes flash {
    0% {
        background-color: #f9f9f9; // Original background
    }
    100% {
        background-color: #ffcc00; // Flashing background color
    }
}



/////////////////////////////////////////////////////////////////////
.messages-header {

  display: flex;
  margin-bottom: 8px;

  img {
    border-radius: 50%;
    object-fit: cover;
    margin-right: 16px;
    height: 35px;
  }

  h2 {
    margin: 0;
    color: $orange;
  }
}

.chatbox {

  padding: 15px;
//   list-style: none;
  overflow-y: auto;
  height: 400px;
  background-color: $gray;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
//   scrollbar-width: none;

  .chat-message-bot {
    display: flex;

    .details {
      margin-right: auto;
      max-width: calc(100% - 130px);

      p {
        border-radius: 18px 18px 18px 0;
      }
    }
  }

  .chat-message-human {
    display: flex;

    .details {
      margin-left: auto;
      max-width: calc(100% - 130px);

      p {
        border-radius: 18px 18px 0 18px;
        background-color: $orange !important;
        // color: $black;
      }
    }
  }

  p {
    margin: 10px 0 0px 0;
    padding: 8px 16px;
    border-radius: 10px;
    word-wrap: break-word;
    background-color: #eaeaea;
  }

  @keyframes blink {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0.5;
    }
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $orange;
}

.wrapper {
  width: 400px;
  max-width: 100%;
  position: relative;

  margin-top: 20px;
  display: flex;
  align-items: center;

  input {
    color: $white;
    font-size: 16px;
    background: $gray;
    border: 1px solid $gray_light;
    border-radius: 50px;
    padding: 10px 16px;
    width: 100%;
    outline: none;
  }

  button {
    background: $gray_light;
    border-radius: 50px;
    aspect-ratio: 1;
    height: 80%;
    position: absolute;
    top: 10%;
    right: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      opacity: 0.8;
    }
    
  }
}