<div class="container">
    <div class="messages mat-elevation-z5">
        <div class="messages-header">
            <h2>Assistent</h2>
        </div>
        <hr>
        <div class="chatbox" #chatbox>
            <div *ngFor="let item of messages" [ngClass]="{
                    'chat-message-bot': item.role === 'bot',
                    'chat-message-human': item.role === 'human'
                }">
                <div class="details">
                    <p>{{item.text}}</p>
                </div>
            </div>
        </div>
        <hr>

        <div class="wrapper">
            <input type="text" [(ngModel)]="input_text" placeholder="Введите" (keyup.enter)="getDescription()"/>
            <button (click)="getDescription()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                    stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M5 12l14 0"></path>
                    <path d="M13 18l6 -6"></path>
                    <path d="M13 6l6 6"></path>
                </svg>
            </button>
        </div>
    </div>
    
    <div class="info_board">
        <div class="info_area">
            <div class="card-container">
                <div class="card" *ngFor="let topic of topics" 
                (click)="openDialog(topic.title, topic.fullResponse)"
                [ngClass]="{'flashing': topic.flashing}"> 
                    <h3>{{ topic.title }}</h3>
                    <p>{{ topic.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>